@charset "UTF-8";

input#structure1 {
	width: 15px;
	height: 15px;
}
span{
	font-weight: 300;
	
}

input#structure2 {
	width: 15px;
	height: 15px;
}

.qwick-view-right {
	padding-right: 160px;
}

.qwick-view-content {
	width: 440px;
}

button.close {
	position: relative;
	left: 800px;
}

#exampleModal .close, #exampleCompare .close {
	color: gray;
}

.close {
	color: gray;
}

.ti-heart {
	color: red;
	padding-right: 10px;
}

.ti-heart-broken {
	padding-right: 10px;
}

#userimg {
	display: block;
	width: 165px;
	height: 180px;
	position: relative;
	left: 57px;
	top: 50px;
	background-origin: border-box;
	background-clip: content-box, border-box;
	border-radius: 5px;
}




#expert_name {
	position: relative;
	left: 90px;
	top: 60px;
	font-size: 30px;
	font-weight: 700;
}

#expert_intro {
	position: relative;
	left: 45px;
	top: 70px;
	font-size: 15px;
	font-weight: 700;
}

#list-name {
	position: relative;
	top: 30px;
}

.btn-hover.cr-btn {
	background-color: #4E8092;
}

/*여기서브모달 css*/
* {
	margin: 0;
	padding: 0
}

html {
	height: 100%
}

#msform {
	text-align: center;
	position: relative;
	margin-top: 20px
}

#msform fieldset .form-card {
	background: white;
	border: 0 none;
	border-radius: 0px;
	box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
	padding: 20px 40px 30px 40px;
	box-sizing: border-box;
	width: 94%;
	margin: 0 3% 20px 3%;
	position: relative
}

#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 0.5rem;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	position: relative;
}

#myModal


#msform



fieldset

:not



(
:first-of-type





)
{
display



:



none




}
#msform fieldset .form-card {
	text-align: left;
	color: #9E9E9E
}

#msform input, #msform textarea {
	padding: 0px 8px 4px 8px;
	border: none;
	border-bottom: 1px solid #ccc;
	border-radius: 0px;
	margin-bottom: 25px;
	margin-top: 2px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 16px;
	letter-spacing: 1px
}

#msform input:focus, #msform textarea:focus {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: none;
	font-weight: bold;
	border-bottom: 2px solid #428092;
	outline-width: 0
}

#msform .action-button {
	width: 100px;
	background: #428092;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 0px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px
}

#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #428092
}

#msform .action-button-previous {
	width: 100px;
	background: #616161;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 0px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus
	{
	box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
}

select.list-dt {
	border: none;
	outline: 0;
	border-bottom: 1px solid #ccc;
	padding: 2px 5px 3px 5px;
	margin: 2px
}

select.list-dt:focus {
	border-bottom: 2px solid #428092
}

.card {
	z-index: 0;
	border: none;
	border-radius: 0.5rem;
	position: relative
}

.fs-title {
	font-size: 25px;
	color: #2C3E50;
	margin-bottom: 10px;
	font-weight: bold;
	text-align: left
}

#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	color: lightgrey
}

#progressbar .active {
	color: #000000
}

#progressbar li {
	list-style-type: none;
	font-size: 12px;
	width: 25%;
	float: left;
	position: relative
}

#progressbar #account:before {
	font-family: FontAwesome;
	content: "\f023"
}

#progressbar #personal:before {
	font-family: FontAwesome;
	content: "\f007"
}

#progressbar #payment:before {
	font-family: FontAwesome;
	content: "\f09d"
}

#progressbar #confirm:before {
	font-family: FontAwesome;
	content: "\f00c"
}

#progressbar li:before {
	width: 50px;
	height: 50px;
	line-height: 45px;
	display: block;
	font-size: 18px;
	color: #ffffff;
	background: lightgray;
	border-radius: 50%;
	margin: 0 auto 10px auto;
	padding: 2px
}

#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: lightgray;
	position: absolute;
	left: 0;
	top: 25px;
	z-index: -1
}

#progressbar li.active:before, #progressbar li.active:after {
	background: #428092
}

.radio-group {
	position: relative;
	margin-bottom: 25px
}

.radio {
	display: inline-block;
	width: 204;
	height: 104;
	border-radius: 0;
	background: lightblue;
	box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	cursor: pointer;
	margin: 8px 2px
}

.radio:hover {
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.radio.selected {
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
}

.fit-image {
	width: 100%;
	object-fit: cover
}

#myModal {
	position:fixed;
	height: auto;
	min-height: 100%;
	border-radius: 0;
	
}

span {
	font-size: 20px;
	color: black;
	font-weight: 300;
	padding-left: 1.0em;
}

textarea {
	resize: none;
}

input#structure1 {
	width: 10px;
	height: 10px;
}

input#structure2 {
	width: 10px;
	height: 10px;
}

.page_number {
	width: 30px;
	height: 30px;
	text-align: center;
	padding-left: 270px;
}

#top.step-1:after {
	content: "청소할 건물 유형은 무엇입니까?";
	font-weight: bold;
}

#top.step-2:after {
	content: "수리할 유형을 선택해주세요.";
	font-weight: bold;
}

#top.step-3:after {
	content: "사진을 첨부해주세요.";
	font-weight: bold;
}

#top.step-4:after {
	content: "기타 요청 사항을 입력해주세요.";
	font-weight: bold;
}

.product-img {
	width: 280px;
	height: 375px;
	background-color: #FAFAFA;
}
