@charset "UTF-8";


/* modal */
* {
	margin: 0;
	padding: 0
}

html {
	height: 100%
}

#msform {
	text-align: center;
	position: relative;
	margin-top: 20px
}

#msform fieldset .form-card {
	background: white;
	border: 0 none;
	border-radius: 0px;
	box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
	padding: 20px 40px 30px 40px;
	box-sizing: border-box;
	width: 94%;
	margin: 0 3% 20px 3%;
	position: relative
}

#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 0.5rem;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	position: relative;
}

#myModal #msform fieldset:not(:first-of-type)
{
	display: none
}
#msform fieldset .form-card {
	text-align: left;
	color: #9E9E9E
}

#msform input, #msform textarea {
	padding: 0px 8px 4px 8px;
	border: none;
	border-bottom: 1px solid #ccc;
	border-radius: 0px;
	margin-bottom: 25px;
	margin-top: 2px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 16px;
	letter-spacing: 1px
}

#msform input:focus, #msform textarea:focus {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: none;
	font-weight: bold;
	border-bottom: 2px solid #428092;
	outline-width: 0
}

#msform .action-button {
	width: 100px;
	background: #428092;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 0px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px
}

#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #428092
}

#msform .action-button-previous {
	width: 100px;
	background: #616161;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 0px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus
	{
	box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
}

select.list-dt {
	border: none;
	outline: 0;
	border-bottom: 1px solid #ccc;
	padding: 2px 5px 3px 5px;
	margin: 2px
}

select.list-dt:focus {
	border-bottom: 2px solid #428092
}

.card {
	z-index: 0;
	border: none;
	border-radius: 0.5rem;
	position: relative
}

.fs-title {
	font-size: 25px;
	color: #2C3E50;
	margin-bottom: 10px;
	font-weight: bold;
	text-align: left
}

#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	color: lightgrey
}

#progressbar .active {
	color: #000000
}

#progressbar li {
	list-style-type: none;
	font-size: 12px;
	width: 25%;
	float: left;
	position: relative
}

#progressbar #account:before {
	font-family: FontAwesome;
	content: "\f023"
}

#progressbar #personal:before {
	font-family: FontAwesome;
	content: "\f007"
}

#progressbar #payment:before {
	font-family: FontAwesome;
	content: "\f09d"
}

#progressbar #confirm:before {
	font-family: FontAwesome;
	content: "\f00c"
}

#progressbar li:before {
	width: 50px;
	height: 50px;
	line-height: 45px;
	display: block;
	font-size: 18px;
	color: #ffffff;
	background: lightgray;
	border-radius: 50%;
	margin: 0 auto 10px auto;
	padding: 2px
}

#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: lightgray;
	position: absolute;
	left: 0;
	top: 25px;
	z-index: -1
}

#progressbar li.active:before, #progressbar li.active:after {
	background: #428092
}

.radio-group {
	position: relative;
	margin-bottom: 25px
}

.radio {
	display: inline-block;
	width: 204;
	height: 104;
	border-radius: 0;
	background: lightblue;
	box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	cursor: pointer;
	margin: 8px 2px
}

.radio:hover {
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.radio.selected {
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
}

.fit-image {
	width: 100%;
	object-fit: cover
}

#myModal {
	position:fixed;
	height: auto;
	min-height: 100%;
	border-radius: 0;
	
}


textarea {
	resize: none;
}

input#structure1 {
	width: 10px;
	height: 10px;
}

input#structure2 {
	width: 10px;
	height: 10px;
}

.page_number {
	width: 30px;
	height: 30px;
	text-align: center;
	padding-left: 270px;
}

#top.step-1:after {
	content: "건물 유형은 무엇입니까?";
	font-weight: bold;
}



#top.step-2:after {
	content: "유형을 선택해주세요.";
	font-weight: bold;
}

#top.step-2_1:after {
	content: "유형을 선택해주세요.";
	font-weight: bold;
}

#top.step-3:after {
	content: "사진을 첨부해주세요.";
	font-weight: bold;
}

#top.step-4:after {
	content: "기타 요청 사항을 입력해주세요.";
	font-weight: bold;
}

.product-img {
	width: 280px;
	height: 375px;
	background-color: #FAFAFA;
}

/*modal -end*/

#userimg {
	display: block;
	width: 165px;
	height: 180px;
}

.banner-img {
	height: 300px;
	padding-top: 120px;

}

.grad {
	--borderWidth: 5px;
	background: #1D1F20;
	position: relative;
	border-radius: var(- -borderWidth);
	width: 164px;

}
.grad_wrrapper{
	padding-left: 33%;

}

.grad:after {
	content: '';
	position: absolute;
	top: calc(-1 * var(--borderWidth));
	left: calc(-1 * var(--borderWidth));
	height: calc(100% + var(--borderWidth)* 2);
	width: calc(100% + var(--borderWidth)* 2);
	background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8,
		#1098ad, #07b39b, #6fba82);
	border-radius: calc(1.5 * var(--borderWidth));
	z-index: -1;
	animation: animatedgradient 2s ease alternate infinite;
	background-size: 300% 300%;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.fa-heart-o {
	color: red;
	position: relative;
	left: 0px;
	top: 0px;
	bottom: 0px;
	size: 40px;
}

.heart_click {
	box-sizing: border-box;
	background-color: #CADEE3;
	width: 6%;
	height: 30%;
	margin-left: 50%;
	padding: 0.6%;
	border-radius: 5%;
		border: 0;
		margin-top: 3%;
}

.heart_click2 {
	box-sizing: border-box;
	background-color: #CADEE3;
	padding: 0.7%;
	border-radius: 5%;
	outline: 0;
	border: 0;
}
.heart_click:hover{
	background-color: #4EBDD0;
}


.heart_click2:hover{
	
	background-color: #4EBDD0;

}

.fa.fa-heart {
	color: red;
	position: relative;
	left: 0px;
	top: 0px;
	bottom: 0px;
	size: 40px;
}

.name_tag {
	box-sizing: border-box;
	background-color: #CADEE3;
	width: 50%;
	height: 95%;
	padding: 2%;
	border-radius: 1%;
	margin:0 auto;
	padding-left: 10%;
	margin-top: 4%;
}

.product-details-area {
	padding-top: 340px;
}

.hr_1 {
	position: relative;
	top: 150px;
	display:none;
}

.hr_2 {
	position: relative;
	top: 413px;
	display:none;
}



#myModal{
	z-index : 999999;
	
}

#top{
	position: relative;
	bottom: 90px;
}

div.col-md-12.mx-0{
	
	position: relative;
	bottom: 90px;
}

#fa-pencil-square-o{
	position: relative;
	right: 0px;
	bottom: 0px;
	
}

.quick-view-rating{
	
	position: relative;
	top: 0px;
	left: 170px;
}

.ion-ios-star.red-star{
	font-size: 30px;

}

.quick-view-rating i.red-star{
		color: #ffc107;
}

.container1{
	background-color:  #4E8092; 
	width: 109%;
	width: 100%;
	height: 60px;
	
	
}
b#tabText1,b#tabText2,b#tabText3,b#tabText4,.heart_click,.heart_click2{
	cursor: pointer;
}
.grad_wrapper{
	position: absolute;
	padding-left: 35%;
}
<!-- 별점 -->

span.star-prototype, span.star-prototype > * {
    height: 16px; 
    background: url(http://i.imgur.com/YsyS5y8.png) 0 -16px repeat-x;
    width: 80px;
    display: inline-block;
}
 
span.star-prototype > * {
    background-position: 0 0;
    max-width:80px; 
}


.detailDESC{
    padding-top: 5%;
    padding-left: 10%;

}
.details1{width: 87%;}
.container1{line-height:60px;margin-top:100px;}
.tab{
    display: flex;
    justify-content: space-around;
    align-content: center;
}