@charset "UTF-8";

#career_text {
	font-size: 60px;
	font-weight: 700;
	padding-left: 10%;
}


#career_table {
	position: relative;
	width: 790px;
	height: 320px;
	bottom: 80px;
	left: 390px;

}

#career_th {
	font-size: 25px;
	font-weight: 300;
}

#picture_text {
	font-size: 60px;
	font-weight: 700;
	padding-left: 10%;
}