@charset "UTF-8";

#review_text{
	font-size: 60px;
	position: relative;
	font-weight: 700;
}


#to_img{
	width: 800px;
	height: 300px;
	position: relative;
	left: 240px;
	top: 60px;
	
	
}
#comment{
	width: 75%;
	padding-left: 25%;
}

#user_review{
	position: relative;
	top: 50px;
}

.table td, .table th{
	height: 200px;
}

#rv_content{
	width: 580px;
}

      body,li {
            font-family : 微软雅黑,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        }

        #base_container {
            padding: 100px;
           
        }
        
button#write.btn.btn-info.float-right:hover {
	cursor: pointer;
}       

#delete_review:hover{
	cursor: pointer;
}

#update_review:hover {
	cursor: pointer;
}

