@charset "UTF-8";

#review_text{
	font-size: 60px;
	position: relative;
	left: 290px;;
	bottom: 120px;
	font-weight: 700;
}

#to_img{
	width: 800px;
	height: 300px;
	position: relative;
	left: 240px;
	top: 60px;
	
	
}
#comment{
	width: 20%;
	position: relative;
	left: 10%;
}

#user_review{
	position: relative;
	top: 50px;
}

.table td, .table th{
	height: 200px;
}

#rv_content{
	width: 580px;
}

      body,li {
            font-family : 微软雅黑,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        }

        #base_container {
            padding: 100px
        }